/**/
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.5em;
	background-image:url('./photo/back.jpg');
	margin:0px;
}
h1,h2,h3,h4,h5,h6{
	color:#750062;
	text-shadow: 4px 4px 8px #872277;
}
ul{
list-style:circle;

}
.logo{
	float:right;
	text-align:right;
	font-size:2em;
	color:white;
	padding:10px;
}
.meniu{ display:all; float:left;padding:10px; margin-top:20px;}
.meniu a{
	color:#750062;
	list-style:none;
	text-decoration:none; 
	text-transform:uppercase;
	font-weight:bold;
	padding:10px;
	background-color:#FFF;
	padding-right:20px;
	padding-left:20px;
}
.meniu li {
	display:inline;
}
.meniu a:active{
	color:#D962C7;
}
/*layout*/
.page{ 
	width:960px;
	padding:1px; 
	min-height:100%;
	margin:auto ;
	}
.page-header{
	text-align:center;
	margin:20px;
}
.page-footer{
	text-align:center; 
	border-top:solid #882178  1px;
	overflow:hidden;
	margin:0px;
}
.content-wrapper{
	display:block; 
	border: solid black 0px; 
	border-bottom:solid #750062 1px;}
.clearfix:after { 
	content: "."; 	
	display: block; 	
	height: 0; 	
	clear: both; 	
	visibility: hidden; 	
}
.col-one{
	margin:5px; 
	padding:5px; 
	overflow:hidden;  
}
.content{
		padding:5px; 
		width:auto; 
		float:left;
		overflow:hidden; 
}
.sidebar{
	margin-left:50px; 
	padding:5px; 
	width:180px; 
	float:left;
	overflow:hidden; 
}
nav{ 	
	height: 80px;
	margin:-1px; 
	padding:1px; 
	border: 1px solid #882178; 
	background-color:#882178; 
	width:100%;
	}
	.nav-inside{width:950px;margin:auto;}
/*forma*/
form{
	padding:10px;
	font-size:1.2em;
	width:600px;
	margin:auto;
}
label{
	display:block; 
	cursor:pointer;
	font-weight:bold; 
	color:#2b2b2b; 
} 
input {background:#FFF; border: 1px solid #750062; text-align:center;}
input:hover {background:#D936C0; 
	color:#750062;}
input:focus,select:focus{
	background-color:#FFF
}
input:active{
	color:#FFF;
}
	/*lentele*/
table, td, tr, th {border: 1px solid #770064; padding:0px; margin:0px;}
th{color:#770064; background:#D962C7}

.answer{width:80px;padding:5px;margin:auto; height:60px;
	color:#750062;
	border:3px ridge purple;
	text-transform:uppercase;
	font-weight:bold;
	background-color:#FFF;
}

.answer:active{
	color:#D962C7;
}
.mid{min-height:360px;}
#meniu2{display:none;}

canvas {width:800px;height:350px; background:none;  outline:purple 1px solid; margin-left:75px; }
#taskai {display:inline-block; background:#D962C7;  min-width:100px; border: 1px solid #750062; text-align:center; float: right;}
.key{height:310px;}
.clef{position:absolute;left:280px;top:79px;}
.btn {
	color:#750062;
	list-style:none;
	text-decoration:none; 
	text-transform:uppercase;
	font-weight:bold;
	padding:3px;
	background-color:#FFF;
	border: 1px solid #750062;
}

/*********************************************************/
:focus {
  outline:none !important;
}

/* Piano Wrapper */
#p-wrapper {
  position:relative;
  left:0px;
  margin:auto;
}
/* Tuts */
ul#piano {
  display:block;
 /* height:158px;*/
  margin:auto;
  width:800px;
    padding:0;
}
ul#piano li {
  list-style:none;
  float:left;
  display:inline;
  background:#aaa;
  width:80px;
  position:relative;
}
ul#piano li a, ul#piano li button.anchor {
  display:block;
  height:200px;
  width:80px;
  background:#fff;
  border:1px solid #ccc;
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
}
ul#piano li a:active,ul#piano li button.anchor:active {
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height:196px;
}
ul#piano li a:active:before,ul#piano li button.anchor:active:before {
  content:"";
  width:0px;
  height:0px;
  border-width:196px 5px 0px;
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}

ul#piano li a:active:after,ul#piano li button.anchor:active:after {
  content:"";
  width:0px;
  height:0px;
  border-width:196px 5px 0px;
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}

/* Black Tuts */
ul#piano li span {
  position:absolute;
  top:0px;
  left:-12px;
  width:40px;
  height:100px;
  background:#222;
  z-index:10;
  border-width:1px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
}
ul#piano li li {
  width:150px;
  height:auto;
  display:block;
  float:none;
  background:transparent;
}
.clear {
  clear:both;
}
/* Animation */
@-webkit-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
.name{	color:#750062; font-size:20px; position:relative; top:80px; font-weight:bold;}
.mid {height:156px; margin:2px;}
/*quaery*/
/**************************************************/
@media all and (max-width: 481px) and (min-width: 1px) {
.content{width:160px;}
.clef{position:absolute;left:20px;top:154px; height:160px;}
.nav-inside{width:290px;margin:auto;}
.mid{min-height:220px;} /*180px*/
ul#piano {
  height:80px;
  width:300px;
}
ul#piano li {
  width:30px;
}
ul#piano li a, ul#piano li button.anchor {
  height:160px;
  width:30px;
}
ul#piano li a:active,ul#piano li button.anchor:active {
  height:156px;
}
/*black*/
ul#piano li span {
  position:absolute;
  top:0px;
  left:-12px;
  width:20px;
  height:80px;
}
ul#piano li a:active:after,ul#piano li button.anchor:active:after {
  content:"";
  border-width:156px 2px 0px;
}
ul#piano li a:active:before,ul#piano li button.anchor:active:before {
  content:"";
  border-width:156px 2px 0px;
}
/*page*/
.page{ 
	width:300px;
	}
.sidebar{
	margin-left:1em; 
	width:90px; 
}
.logo{
	text-align:right;
	padding:0;
	font-size:1.1em;
	margin-top:33px;
	margin-right:3px;
	text-transform:uppercase;
}
nav{height:70px;}
.meniu {padding:1px; margin:3px;  margin-top:30px;}
#meniu2{display:none; position:absolute;  padding:2px; margin:3px; background:#882178; width:100px; padding:10px;  }
.meniu li a{padding:3px;  margin-left:3px; font-size:0.9em; 	 }
#meniu2 li a{background:none;color:white; border-bottom: solid 1px white;
	display:block;}
#meniu2 li a:focus{background:#D962C7;}
#meniu-start{padding:3px;}
.meniu a:active{
	color:#D962C7;
}
canvas {width:292px;height:175px; background:none;  outline:purple 1px solid; margin:2px; margin-top:20px;}
.key{height:175px; margin-left:1px; padding:0;}
#taskai{width:290px; margin:5px; text-align:center; font-size:1.5em;}
.name{	 font-size:14px; top:25px; left:-3px; padding:0; margin:0;}
.answer{width:34px;padding:1px;margin:1px; height:40px;
	color:#750062;
	border:2px ridge purple;
	text-transform:uppercase;
	font-weight:bold;
	background-color:#FFF;
}

form{width:auto;}
}
@media all and (max-width: 801px) and (min-width: 481px) {
.clef{position:absolute;left:60px;top:-0px; height:160px;}
.content{width:800px;}
.mid{min-height:180px;}
ul#piano {
  height:80px;
  width:470px;
  margin-left:7px;
}

ul#piano li {
  width:45px;
}

ul#piano li a, ul#piano li button.anchor {
  height:110px;
  width:50px;
}
ul#piano li a:active,ul#piano li button.anchor:active {
  height:108px;
}
/*black*/
ul#piano li span {
  position:absolute;
  top:0px;
  left:-12px;
  width:20px;
  height:60px;
}
ul#piano li a:active:after,ul#piano li button.anchor:active:after {
  content:"";
  border-width:108px 2px 0px;
}
ul#piano li a:active:before,ul#piano li button.anchor:active:before {
  content:"";
  border-width:108px 2px 0px;
}
/*page*/
.page{ 	width:465px;	}
nav{height:50px; display:none;}
.meniu {padding:5px; margin:0px;  margin-top:20px;}
.meniu li a{padding:0px;  margin-left:5px;}
canvas {width:460px;height:160px; background:none;  outline:purple 1px solid; margin:1px; }
.name{	 font-size:14px; top:25px; left:-3px; padding:0; margin:0;}
}
